.caixaEntrada{
    flex: 1;
    display: block;
    width: 100%;
    height: calc(100% - 67px);
}

.container-emails {
    background: #EEE;
    width: 100%;
    height: 100%;
    display: block;
    flex: 1;
    position: relative;
    overflow-y: auto;
}

.lista-emails {
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.lista-emails > li {
    padding: 10px 20px;
    border-top: 1px solid #CCC;
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}

.selected{
    background-color: #CCC;
}

.lista-emails > li > span {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container-emails::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.container-emails::-webkit-scrollbar {
    width: 5px;
    background: #F4F4F4;
}

.container-emails::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#root > div.caixaEntrada > div{
    height: 100%;
    overflow: hidden;
}

.container-open-email {
    width: 100%;
    height: 100%;
    background-color: #CCC;
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-options-email {
    width: calc(100% - 30px);
    height: 60px;
    margin: 10px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #AAA;
}

.container-email-open {
    width: calc(100% - 30px);
    height: 100%;
    margin: 0 10px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #FFF;
    display: block;
    position: relative;
}

#root > div.caixaEntrada > div > div{
    padding: 0 !important;
    height: 100%;
}

.container-email-open::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.container-email-open::-webkit-scrollbar {
    width: 5px;
    background: #F4F4F4;
}

.container-email-open::-webkit-scrollbar-thumb {
    background: #dad7d7;
}